.salon-container{
    display: flex;
    justify-content: space-between;
    .image-container{
        width: 45vw;
        // height: 100%;

        img{
            height: 85vh;
            width: 100%;
            object-fit: cover;
        }
    }

    .salon-rightside{
        width: 55vw;
        display: flex;
        flex-direction: column;
        padding: 3% 5% 0 5%;

            .header{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-bottom: 40px;

            .header-text{
                text-align: center;

            }
            
            .mon-compte{
                padding-bottom: 3%;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .button-logout{
                margin-top: 3%;
                border: none;
                background-color: black;
                color: white;
                padding: 2% 3%;
                cursor:pointer;
            }

            .button-logout:hover{
                color: var(--secondary-color);
            }

            .nom-salon{
                display: flex;
                text-align: center;
                justify-self: center;
            }
        }
        .status-container{
            padding: 30px 0 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: beige;
           

            .status-title{
                font-size: 1.2rem;
                font-weight: 500;
                padding-bottom: 10px;
            }

                
                .progressbar{
                    width: 100%;
                    position:relative;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    // background-color: beige;
                }

                .progressbar li{
                    position: relative;
                    list-style-type: none;
                    text-align: center;
                    text-transform: uppercase;
                    width: 16%;
                    color: #999999;
                    font-size: 0.9rem;
                }

                .progressbar li:before {
                    display: block;
                    width: 18px;
                    height: 18px;
                    margin: 7px auto 20px auto;
                    content: '';
                    text-align: center;
                    border-radius: 50%;
                    background-color: grey;
                }

                .progressbar li:after {
                    position: absolute;
                    z-index: -1;
                    top: 15px;
                    left: -50%;
                    width: 100%;
                    height: 2px;
                    content: '';
                    background-color: grey;
                }

                .progressbar li:first-child:after {
                    content: none;
                }
                .progressbar li.active,
                .progressbar li.complete{
                    color: black;
                }

                .progressbar li.active:before,
                .progressbar li.complete:before {
                    background-color: #0070BD;
                }

                .progressbar li.active:before{
                    width: 22px;
                    height: 22px;
                    background-color: #3AE2D8;
                }
                .progressbar li.active:after,
                .progressbar li.complete:after {
                    background-color: grey;
                }
                
                ul{
                  margin: 40px 0 !important;
                }
                body{
                  margin: 40px 20px;
                }
            }

        .salon-right-bottom{
            display: flex;
            justify-content: center;
        }
        .next-status{
            width: 84%;
            height: 25vh;
            background-color: #4D4083; // 
            display: flex;
            // justify-content: space-between;

            .next-status-left{
                color: white;
                width: 35%;

                img{
                    width: 100%;
                }

                .button-salon{
                    color: white;
                    text-decoration: none;
                    background-color: black;
                    padding: 2% 12%;
                }

                .button-salon:hover{
                    color: var(--secondary-color);
                    transform: scale(1.1);
                    transition: 0.5s;
                }

                .button-container{
                    text-align: center;
                }

                .button-container:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }

                .text-next-status{
                    padding: 5% 0;
                    text-align: center;
                }

                .text-image-next-status{
                    padding: 10% 0 10% 0;
                    text-align: center;
                }
            }
            .image-fidelite{
                width: 65%;
                height: 100%;
        
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    
}