* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
:root {
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  // A MODIFIER AVEC NOS COULEURS
  --color-text: white;
  --primary-color: black;
  --title-font-size: 30px;
  --text-second-font-size: 18px;
  --font-family: "poppins";
}
