.container-page-offre{
    padding-bottom: 40px;
    .nouveaute-offre{
    h1{
        font-weight: 100;
    }
    
        padding: 80px;
        .rond-nouveauté{
            display: flex;
            justify-content: center;
            gap: 250px;
            width: 100%;
            .rond-nouveauté-bis{
                padding: 20px;
        .rond{
            width: 200px;
            height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        
        
        }
    
.rond.card-1{
    border: 5px solid #3AE2D8;
}
.rond.card-5{
background-color: #44546A;
color: white;
}
    }}}
    .container-offre{
        padding: 80px;
        h1{
            font-weight: 100;
        }
        .offre{
            display: flex;
            flex-wrap: wrap;
            row-gap: 80px;
            padding-top: 80px;
            .offre-1{
                width: 35%;
                display: flex;
                margin: 0 auto;
                
                
                
                .rond{
                    width: 200px;
                    height: 200px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: 100;
                
                
                }

.name{
    width: 40%;
    font-weight: bold;
}
.points-offre{
button{
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
    h2{
font-size: 40px;
color: #508FBB;
    }
    h3{
        font-size: 20px;
    }
    p{
        color: #48d3ca;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;

    }

}
            }
        }
        .rond.card-0 {
          border: 5px solid #62a8ff;
        }
        .rond.card-1 {
          border: 5px solid #3ae2d8;
        }
        .rond.card-2 {
          border: 5px solid #0053bb;
        }
        .rond.card-3 {
          background-color: #4d4083;
          color: white;
        }
        .rond.card-4 {
          background-color: #508fbb;
          color: white;
        }
        .rond.card-5 {
          background-color: #44546a;
          color: white;
        }
        .name {
          width: 35%;
        }
        .points-offre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            line-height: 40px;
          h2 {
            font-size: 40px;
          }
          h3 {
            font-size: 20px;
          }

        }
      }
    }
  
