@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.container-borne {
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  animation-duration: 2s;
  background-image: url("images/ia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 2%;

  width: 50vw;
  height: 30vw;

  .borne-wrapper {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.696),
      rgba(255, 255, 255, 0)
    );
    border-top: 4px solid var(--secondary-color);
    border-left: 4px solid var(--secondary-color);
    border-right: 4px solid var(--tertiary-color);
    border-bottom: 4px solid var(--tertiary-color);
    width: 50vw;
    height: 30vw;
    h1 {
      padding-top: 5%;
      font-size: 40px;
      text-align: center;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 90%;

      .input-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10vw;
    
        input:focus {
          outline-color: var(--secondary-color);
        }

        .hair {
          width: 25vw;
          height: 10vw;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.789);
          border: none;
          
        }
        p {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.789);
          width: 25vw;
          height: 3vw;
          overflow: hidden;
          font-weight: 500;
          font-size: 18px;
          padding: 15px;
        }
        ::placeholder {
          padding: 10px;
          font-style: italic;
          color: rgba(118, 116, 116, 0.542);
        }
      }
    }

    .button {
      position: relative;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      width: 10vw;
      padding: 10px;
      background-color: #24aaa1;
      border-radius: 50px;
      font-weight: 500;
      border: 3px solid #ffffff4d;
      overflow: hidden;
      font-size: 20px;
      cursor: pointer;
    }

    .button:hover {
      transform: scale(1.05);
      border-color: #fff9;
    }

    .button:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    .button::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    }
    a {
      text-decoration: none;
      color: var(--color-text);
      transition: all 0.3s ease-in-out;
    }
    @keyframes shine {
      0% {
        left: -100px;
      }

      60% {
        left: 100%;
      }

      to {
        left: 100%;
      }
    }
  }
}
