.engagement-page{

    .engagement-container{
        display : flex;
        gap:50px;
        background-color: #ede6de;
        margin-bottom:100px;
        -webkit-animation-name: fadeInOpacity;
        animation-name: fadeInOpacity;
        animation-duration: 2s;
    
        .title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#3d3d3d;
            gap:20px;
    }  
        img {
        // object-fit: cover;
        height: 60vh;
      }      
}
.first-container{
    display:flex;
    gap:50px;
    margin-bottom: 60px;
    width: 100vw;

    .text{
        display:flex;
        flex-direction: column;
        gap:30px;
        width:40vw;
        margin-left: 5px;
    }

    .photos{
        display:flex;
        gap:5px;

        img{
            border-radius:10px;
            height:30vh;
        }
    }
}        
    
    .second-container{
        display:flex;
        gap:50px;
        width:80vw;
        margin : 0 auto;
        margin-bottom: 30px;
        align-items: center;
        background-color: #ede6de;
        border-radius: 5px;
    
        .photos2{
            img {
                height: 50vh;
                border-radius: 5px;
            }
        }
    
        .text2{
            display:flex;
            flex-direction: column;
            gap : 20px;
            width:40%;
            color:#3d3d3d;
        }
    }

}

