.register-container {
    width: 100vw;
    
    display:flex;
    align-items: center;
    gap:50px;

    .formulaire{
        display:flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
        border-style: solid;
        border-color: blue;
        width: 40vw;
        height: 60vh;
    }
}