.navbar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
.logo-container{
display: flex;
width: 100vw;

    .marque {
      display: flex;
      flex-direction: column;
      width: 80vw;
      padding-left: 18%;
      align-items: center;
      padding-top: 10px;

      img {
        width: 9vw;
      }
    }
  
    
    .connexion{
        display:flex;
        justify-content: flex-end;
        width: 100vw;
        align-items: center;
        
        .account-link{
          margin-right: 40px;

          img{
            height:5vh;
          }

          a {
            color: var(--color-text);
            text-decoration: none;
            transition: transform 0.3s ease;
            font-size:15px;
            text-align: center;
            
          }
          a:hover {
            color: var(--secondary-color);
            transform: scale(1.1);
        }
      }

        .connexion-lien{
        display:flex;
        justify-content: space-around;
        width: 20vw;
        align-items: center;
        overflow: hidden;

    a {
      color: var(--color-text);
      text-decoration: none;
      transition: transform 0.3s ease;
      font-size:12px;
    }
    a:hover {
      color: var(--secondary-color);
      transform: scale(1.1);

    }
  }
}

  .img-beauty{
    width : 100vw;
    display:flex;
    justify-content: center;
    img{
        width:20vw;
    }
}
}

    .pages{
        display:flex;
        width:100vw;
        margin-bottom: 10px;
        overflow: hidden;
        justify-content: center;
        

    a {
      color: var(--color-text);
      text-decoration: none;
      transition: transform 0.3s ease;
      font-size:13px;
    position: relative;
    padding : 0px 50px 0px 50px;


    }
    p{
      width: 100%;
    }
    p:hover {
      color: var(--secondary-color);
      transform: scale(1.1);
      transition: 0.5s;
    }
    a:after{
      content: "";
      position: absolute;
      top : 0px;
      left: 0px;
      border-right: 1px solid white;
      height: 100%;
    }

  }

  }
