.navbar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

    .marque {
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 8vw;
      }
    }
  
    
    .connexion{
        display:flex;
        justify-content: flex-end;
        width: 100vw;
        align-items: center;

        .connexion-lien{
        display:flex;
        justify-content: space-around;
        width: 20vw;
        align-items: center;
        }

    a {
      color: var(--color-text);
      text-decoration: none;
      transition: transform 0.3s ease;
    }
    a:hover {
      color: var(--secondary-color);
      transform: scale(1.1);

    }
  }

  .img-beauty{
    width : 100vw;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    img{
        width:15vw;
    }
}


    .pages{
        display:flex;
        width:80vw;
        justify-content: space-around;
        margin-bottom: 10px;

    a {
      color: var(--color-text);
      text-decoration: none;
      transition: transform 0.3s ease;
    }
    a:hover {
      color: var(--secondary-color);
      transform: scale(1.1);
    }
  }
}

